[Unit]
Description=Task Tracker2

[Service]
Type=simple
User=task_tracker2
Group=task_tracker2
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4795"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/task_tracker2/task_tracker
ExecStart=/home/task_tracker2/task_tracker/start.sh

[Install]
WantedBy=multi-user.target
