<h1>Edit Timeblock</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.timeblock_path(@conn, :update, @timeblock)) %>

<span><%= link "Back", to: Routes.timeblock_path(@conn, :index) %></span>
